* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}


/*Padre*/

.contenedor {
    width: 80%;
    height: 500px;
    max-width: 700px;
    background: #212d40;
    /*Propiedad Nueva de Flex*/
    display: flex;
    flex-flow: row wrap;
    /*ESTE HACE QUE LAS CAJAS SE INVIERTEN
      
     flex-direction: row-reverse;*/
    /*ESTE HACE QUE LAS CAJAS SE POCISIONEN EN COLUMNA

     flex-direction: column;*/
    /* flex-direction: row;
        flex-wrap: wrap;
    */
    /*Lo que hace grap junto con el row esque
        hace que las cajas no  pierdan su ancho
        y este crea otra fila dependiendo del 
        contenedor
         
    flex-flow: row wrap;
    Esta propiedad es igual a flex-direction y flex-wrap 

        */
    /*
    flex-wrap: wrap;*/
    /*TIPOS DE JUSTIFY-CONTENT*/
    /*
    justify-content: flex-end;
    */
    /*
    justify-content: center;
    */
    /*
    justify-content: space-between;
    */
    /*justify-content: space-between;*/
    /*PROPIEDAD ALIGN-ITMES*/
    /*
    align-items: flex-end;
    */
    /*
    align-items: stretch;
    */
    /*
    align-items: baseline;
    */
    /*align-content: space-around;*/
    justify-content: space-between;
    /*CENTRARLO EN MODO COLUMNA*/
    /*align-items: center;*/
    align-content: center;
}


/*Hijos*/

.caja {
    width: 150px;
    height: 100px;
    background: #f79256;
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: 40px;
    color: #fff;
    /* order: 1;*/
    /*FLEX GROW HACE QUE TUS CAJAS  CUANDO SEAN 
    MAYORES LO QUE PASA ES CREAN UNA FILA MAS
    Y TOMA EL 100% DE ANCHO  */
    /*
        flex-grow: 1;
    */
    flex: 1 1 auto;
}


/*
    Mueve la caja en el centro de tu 
    align-self: center;
    */


/*
    Estos siempre  van juntos  para que puedan 
    hacer cambios 
    align-self: stretch;
    height: auto;

    */


/*
    .uno {
        /*Order es muy importante. para el acomodo
        order: 3;
    }

    .dos {
        order: 2;
    }

    .tres {
        order: 1;
    }
*/


/*
    .dos {
        flex-shrink: 0;
        flex-grow: 2;
       
        width: 12.5rem;
        se puede remplazar por 
        
        flex-basis: 12.rem;
        /*Se puede remplazar  de otra forma como
            flex:1 1 auto;
      
    }
*/